.green-text {
	color: #238957;
}

.red-text {
	color: #E53B8F;
}

.smoobu-accordion {
	margin-top: 20px;

	.accordion-body {
		border-bottom: 1px solid #e2e4e7;

		.title {
			color: #555d66;
			background: #FFFFFF;
			display: block;
			padding: 0;
			font-size: inherit;
			margin-top: 0;
			margin-bottom: 0;
			transition: .1s background ease-in-out;

			&:hover {
				background: #f8f9f9;
			}

			&.ui-state-active {
				background: #f8f9f9;

				button {
					svg {
						&.arrow-up {
							display: block;
						}

						&.arrow-down {
							display: none;
						}
					}
				}
			}

			button {
				display: inline-flex;
				text-decoration: none;
				font-size: 13px;
				margin: 0;
				border: 0;
				cursor: pointer;
				-webkit-appearance: none;
				background: 0 0;
				position: relative;
				padding: 15px;
				outline: 0;
				width: 100%;
				font-weight: 600;
				text-align: left;
				color: #191e23;
				border: none;
				box-shadow: none;
				transition: .1s background ease-in-out;

				svg {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					color: #191e23;
					fill: currentColor;
					transition: .1s color ease-in-out;

					&.arrow-up {
						display: none;
					}
				}
			}
		}

		.content {
			background: #FFFFFF;
			padding: 15px;

			div {
				margin: 10px 0;

				img {
					display: block;
					max-width: 100%;
				}
			}
		}
	}
}

.smoobu-styling-container {
	display: flex;
	justify-content: space-between;

	.smoobu-styling-preview {
		position: sticky;
		top: 40px;
		align-self: flex-start;
		padding-top: 20px;
		min-width: 250px;

		@media screen and (min-width: 1241px) {
			width: 270px;
			margin-right: 40px;
		}
	}
}
